header{
  width:100%;
}
header .component{
  align-items:center;
  padding: 2px 15px;
  justify-content:center;
}
@media only screen and (max-width:719px){
  header .component:last-child{
    width:100%;
    margin:auto;
  }

}

header .upper-header-row .component  p{
  font-size:1.2rem;
  margin-left:13px;
}
header .upper-header-row{
  padding:10px 20px;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
}
@media only screen and (min-width:720px){

  header .upper-header-row{
    justify-content:space-between;
  }
}

header .main-header-row{
  padding:0 1rem;
}

@media only screen and (max-width:925px){

  header .main-header-row{
    padding:1rem 1rem;
  }

}
header .main-header-row > .container{
  align-items:center;
  justify-content:space-between;
}
header .main-header-logo{
  width:20%;
  max-width:20rem;
}
@media only screen and (min-width:720px){

  header .main-header-logo{
    max-width:140px;
  }

}

header .online-shop-button{
  padding:2rem;
}

header .online-shop-button p{
  font-size:1.2rem;
  
}

header .burger-menu-icon{
  width: 20%;
}
@media only screen and (min-width:924px){

  header .burger-menu-icon{
    display:none;
  }
}

header nav ul{
  display:flex;

}

@media only screen and (max-width:925px){
  header nav{
    display:none;
  }
}
header nav ul li{
  list-style:none;
  color:#FFFFFF;
  padding:1rem;
  font-size:1.8rem;
  padding: 3.3rem 2.6rem;
  font-weight:100;
  position: relative;
}
header .burger-menu-icon svg{
  color:#ffffff;
  width:70%;
  height:auto;
  max-height:60px;
}
nav ul li.active:before{
  content: '';
  width: 100%;
  position: absolute;
  background-color: #00AEEF;
  top: 0;
  left: 0;
  height: 8px;
}