.info-container h4{
  font-size:2.5rem; 
  font-weight:400;
}
.info-container .info-container-info p{
  margin-top:2rem;
  font-size: 2rem;
  font-weight:100;
  padding-left:1.5rem;
  margin-left:1rem;
  color: #7A7A7A;
  border-left: 1px solid #000000;
}
@media only screen and (min-width:750px){
  .info-container h4{
    font-size:4rem; 
  }
  .info-container .info-container-info p{
    font-size:2.5rem;
    margin-left:12rem;
    line-height: 25px;
  }

}
