html{
  box-sizing:border-box;
  font-size:62.5%;
}
html,body,h1,h2,h3,h4,span,a,p{
  font-family:'Roboto', sans-serif;
}
a{
  text-decoration:none;
}
img{
  max-width:100%;
}
.bg-blue{
  background-color:#06AEEF;
}
.bg-black{
  background-color:#000000;
}
.bg-gray{
  background-color:#F2F2F2;
}
.bg-pink{
  background-color:#EA148C;
}
.txt-blue{
  color:#06AEEF;
}
.txt-white{
  color:#FFFFFF;
}
.txt-yellow{
  color: #F8F921;
}
.txt-pink{
  color:#EA148C;
}
.txt-center{
  text-align: center;
}
.d-flex{
  display:flex;
}
.row{
  width:100%;
}
.col-4{
  width:33.33%
}
.col-2{
  width:50%;
}
*{
  margin:0;
  padding:0;
  box-sizing:inherit;
}

.container{
  width:100%;
  max-width:1200px;
  margin:auto;
}
.flex-center-center{
  justify-content:center;
  align-items:center;
}

